.greeting{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #22333B;
}

.greetingLetra{
    align-self: center;
    justify-self: center;
    font-size: 3rem;
    margin: 1rem;
    color:#F2F4F3;
    flex: 1;
}

